[submodule "SimpleStorage/lib/forge-std"]
	path = SimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundMe/lib/forge-std"]
	path = FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundMe/lib/foundry-chainlink-toolkit"]
	path = FundMe/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
